body {
    text-align:justify;
    align-content:center;  
}

p{
    margin-left: 25%;
    margin-right: 25%;
    font: oblique bold 120% cursive;
    font-size: 20px;
    color:white;
} 

.pre{
    margin-left: 25%;
    margin-right:25%;
    font-size:35px;
}

.des{
    margin-left:25%;
    margin-right:25%;
}

.t{
    margin-left:40%;
    margin-right:40%;
    font-size: 50px;
    color:white;
}

.t2{
    text-align:left;
    margin-left:36%;
    margin-right:36%;
    font-size: 50px;
    color:white;
}

.navbar{
    color:white;
    margin-left: 43%;
    margin-right: 43%;
    font-size: 20px;    
}

.imini{
    margin-left: 10%; 
    margin-top: 3%;
    BORDER : 10px;
}

.elenav{
    color:white;
    font-size: 20px;
}

.r{
    font-size:15px;
    margin-left: 42%;
    margin-right: 42%;
}

.red{
    margin-left:46%;
    margin-right: 46%;
}

.impas{
    margin-left: 7%; 
    margin-top: 3%;
    BORDER : 10px;
}

.pas{
    margin-top:90px;
    margin-bottom 10px;
}