body {
     margin-left: 35%;
    margin-right: 35%;
    text-align:justify;
    align-content:center;  
}

p{
    font: oblique bold 120% cursive;
    font-size: 20px;
    background-color: #8EA1B9;
    color:white;
} 

.t{
    font-size: 50px;
    background-color: #1371EA;
    color:white;
}